<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Calculator for your chances of surviving of COVID-19.">
    <meta name="keywords" content="Coronavirus, COVID-19, Mortality Calculator, Survival Chance, Corona">
    <meta name="author" content="Jodhviir Sekhon">
    {% block style %}{% endblock %}
    <link rel="icon" type="image/vnd.microsoft.icon" href="static/favicon.ico">
    <title>COVID-19 Survival Calculator</title>
    {% block head %}{% endblock %}
</head>
<body>
{% block body %} {% endblock %}

<footer>
    <p><a href="/">Home</a>        <a href="https://coronavirus.jhu.edu/map.html" target="_blank">Latest COVID-19 Stats</a>        <a href="https://www.gov.uk/coronavirus" target="_blank">COVID-19 Guidelines</a>        <a href="https://www.kaggle.com/rupsikaushik/covid19-patientlevel-data" target="_blank">Data source</a></p>
</footer>

</body>
</html>